
<header>
    <h1 class="Title">Flash Cards Study</h1>
    <nav>
        <ul class="nav__links">
            <a routerLink="/home" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}"ariaCurrentWhenActive="page"><li>Home</li></a>
            <a routerLink="/update" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}"ariaCurrentWhenActive="page"><li>Update Flash Cards</li></a>
            <a routerLink="/create" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}"ariaCurrentWhenActive="page"><li>Create Flash Card</li></a>
            
        </ul>

    </nav>


</header>
